/* Main elements styling */
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #2e2e2e;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	color:#D9D9D9;
	text-align: center;
	font-size: 2em;
	margin: 0.1em;
	animation: neonBlink 1.5s ease-in-out infinite;
}
h2 {
	font-size: 2em;
	margin-top: 0.6em;
	margin-bottom: 1em;
}
hr {
	width: 60vw;
	margin: 20px auto;
	display: block;
	/* background-color:#D9D9D9; */
	height: 2px;
	border: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.8), transparent);
	background-size: 200% auto;
	animation: shine 2s linear infinite;
}
input {
	border-radius: 100px;
	height: 2.5em;
	width: 20em;
	display: flex;
	justify-content: center;
	align-items:center;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	border: none;
	font-size: 1em;
	padding: 1em;
}
/* =============================================== */
/* keyframes */
@keyframes neonBlink {
	0%, 100% {
		color:#D9D9D9;
		text-shadow: 0 0 5px #D9D9D9, 0 0 10px #D9D9D9; 
	}
	50% {
		color: #d16eff; 
		text-shadow: 0 0 20px #dd6eff, 0 0 30px #e46eff; 
	}
}
@keyframes shine {
	to {
		background-position: 200% center;
	}
}
/* =============================================== */
/* Top elements styling */
.logo img {
	grid-column: 1;
}
.logo {
	width: 100px;
	background:none;
	border: none;
	display: flex;
	justify-content: center;
	align-items:center;
	margin: 0.5em;
	margin-top: 1em;
}
.team-btn, .reserved-btn {
	background-color: #FFDC5E;
	color:#2e2e2e;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border:none;
	border-radius: 10px;
	width: 165px;
	height: 50px;
	flex-shrink: 0;
	font-weight: 800;
	font-size: 1.8em;
	cursor: pointer;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin: 0.2em;
	margin-bottom: 1em;
	display: flex;
}
.team-btn:hover,
.reserved-btn:hover {
	background-color:#D9D9D9;	
}
/* =============================================== */

/* Main pokemon section styling, visualize pokemons */
.pokemon-list-container  {
	background-color: #972929; 
	color:#D9D9D9;
	border-radius: 14px;
	width: 280px;
	height: 290px;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
	padding: 0.5em;
	font-size: 1.1em;
	font-weight: 700;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 1em; 	
	position: relative;
}	
.pokemon-list-container img {
	height: 120px; 
	display: flex;
	align-self: center;
	transition: opacity 0.3s ease;
	position: relative;
	top: 4em;
}
.pokemon-list-container:hover {
	transform: translateY(-5px); 
	border-radius: 14px;
	box-shadow: 0px 0px 30px rgba(73, 73, 73, 0.9);
	background-image:url(img/backgroundball.jpg);
	background-color:#2e2e2e;
	background-size: 100%;
	background-repeat: no-repeat; 
	background-position: center;
	position: relative;
	display: flex;
	align-items: center; 	
	justify-content: center;
}
.empty-slot-card{
	width: 280px;
	height: 290px;
	border-radius: 14px;
	transform: translateY(-5px); 
	box-shadow: 0px 0px 30px rgba(73, 73, 73, 0.9);
	background-image:url(/img/slot.png);
	background-color:#2e2e2e;
	background-size: 100%;
	opacity: 70%;
	background-repeat: no-repeat; 
	background-position: center;
	position: relative;
	display: flex;
	align-items: center; 	
	justify-content: center;
}
.pokemon-list-container:hover img {
	opacity: 0; 
}
.pokemon-container {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: 10px;
}
/* =============================================== */

/* Classes to display/not display elements */
.show {
	display: block;
}
.hide {
	display: none;
} 
/* =============================================== */

/* Info text window */
.pop-up-window {
	background-color:#D9D9D9;
	border:1px solid #2e2e2e;
	color:#2e2e2e;
	width: 8em;
}
.pop-up-message {
	display: none; 
	position: absolute; 
	background-color:#d9d9d9;
	color:#2e2e2e;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	top: 10em;
	left: 50px; 
	z-index: 2;
}
/* =============================================== */

/* Styling elements inside pokemon container */
.team-container > * {
	display: flex;
	flex-direction: column;
	color: #D9D9D9;
	justify-content: center;
	align-items: center;
}
/* =============================================== */

/* Main style for list view */
#poke-list {
	display: flex;
	justify-content: center;
	align-self:center;
	margin: auto;
	margin-bottom: 2.5em;
}
/* =============================================== */

/* Contains go back btn */
.go-back-container {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items:center;
}
/* =============================================== */

/* Styling for buttons on cards */
.add-btn img, 
.reserve-btn img, 
.remove-btn img,
.edit-btn img,
.move-left-btn img,
.move-right-btn img {
	width: 40px;
	height: 40px;
}
.pokemon-list-container:hover .remove-btn img, 
.pokemon-list-container:hover .edit-btn img,
.pokemon-list-container:hover .reserve-btn img,
.pokemon-list-container:hover .add-btn img,
.pokemon-list-container:hover .move-left-btn img,
.pokemon-list-container:hover .move-right-btn img {
	opacity: 1;
}
.pokemon-list-container:hover .add-btn,
.pokemon-list-container:hover .reserve-btn,
.pokemon-list-container:hover .remove-btn,
.pokemon-list-container:hover .edit-btn,
.pokemon-list-container:hover .move-left-btn,
.pokemon-list-container:hover .move-right-btn{
	opacity: 1;
}
.add-btn, 
.reserve-btn,
.remove-btn, 
.edit-btn,
.move-left-btn,
.move-right-btn{
	background:none;
	border: none;
	cursor: pointer;
	z-index: 1;
	opacity: 0; 
	transition: opacity 0.5s ease-in-out;
	position: relative;
}
.left-right-btn-container{
	display: flex;
	justify-content: space-between;
	align-items:center;
	position: absolute;
	top: 9.3em;
	left: 0.5em; 
	left: 0.5em; 
	width: calc(100% - 1em);

}
.button-container {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items:center;
	top: -3em;
	left: 0.5em; 
	right: 0.5em; 
}
/* =============================================== */

/* Styling for names of pokemons */
.pokemon-name {
	position: relative;
    bottom: 5.5em;
    padding: 0.2em;
    width: 120px; 
    word-wrap: break-word; 
    text-align: center;
}
/* =============================================== */

/* Styling for pokemon types */
.pokemon-type {
	display:flex;
	position: relative;
	justify-content: center;
	flex-wrap: wrap;
	top: 2.2em;
	border-radius:20px;
	padding: 0.3em;
	color:#2e2e2e;
	gap:20px;
	margin: 0.2em;
	margin-bottom: 3em;
}
.pokemon-types {
	display: flex;
	margin: 0.3em; 
	font-size: 0.9em;
}
/* =============================================== */

/* Styling for pokeon, after its search so its centered */
.centered-pokemon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
/* =============================================== */

/* Second screen view styling */
#second-screen{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
#second-screen.hide {
	display: none;
}
/* =============================================== */

/* Go back btn styling */
.go-back-btn {
	background-color: #FFDC5E;
	color:#2e2e2e;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border:none;
	border-radius: 10px;
	width: 165px;
	height: 50px;
	flex-shrink: 0;
	font-weight: 800;
	font-size: 1.8em;
	cursor: pointer;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin: 0.2em;
	margin-bottom: 0.6em;
	margin-top: 0.2em;
}
.go-back-btn:hover {
	background-color:#D9D9D9;	
}




