body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #2e2e2e;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	color:#D9D9D9;
	text-align: center;
	font-size: 2em;
}

ul {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	padding: 0;
}

.logo img {
	grid-column: 1;
}

.logo {
	width: 100px;
	background:none;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items:center;
	margin: 2em;
	margin-top: 1em;
}
input {
	border-radius: 100px;
	height: 2.5em;
	width: 20em;
	display: flex;
	justify-content: center;
	align-items:center;
	text-align: center;
	margin-top: 1em;
	border: none;
	font-size: 1em;
	padding: 1em;
}
.team-btn {
	background-color: #FFDC5E;
	color:#2e2e2e;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border:none;
	border-radius: 10px;
	width: 165px;
	height: 66px;
	flex-shrink: 0;
	font-weight: 800;
	font-size: 1.8em;
	cursor: pointer;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin: 0.2em;
	margin-bottom: 1em;
	display: flex;
}

.team-btn:hover {
	background-color:#D9D9D9;
}
.pokemon-list-container  {
	background-color: #972929; 
	/* background-color:#a69f987e; */
	color:#D9D9D9;
	border-radius: 14px;
	width: 300px;
	height: 160px;
	text-align: center;
	display: flex;
	display: flex;
	flex-direction: column;
	margin: auto;
	gap: 1px;
	align-items: center;
	padding: 0.5em;
	font-size: 1.3em;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 1em; 	
	position: relative;
}	

.pokemon-list-container img {
	height: 100px; 
	margin-bottom: 0.5em;
	display: flex;
	align-self: center;
	transition: opacity 0.3s ease;
}

.pokemon-list-container:hover img {
	opacity: 0; 
}
.pokemon-container {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(3,1fr);
	gap: 5px;
	clear: both;
    margin-top: 10px;
}

.pokemon-type {
	margin-top: 0.5em;
}

.show {
	display: block;
}

.hide {
	display: none;
} 

.pop-up-window {
	background-color:#D9D9D9;
	border:1px solid #2e2e2e;
	color:#2e2e2e;
	width: 8em;
}

.go-back-btn {
	margin-right: 1em;
}
.team-container {
	display: flex;
	flex-direction: column;
	color:#D9D9D9;
	justify-content: center;
	align-items:center;
}

#poke-list {
	display: flex;
	justify-content: center;
	align-self:center;
	margin: auto;
	grid-column: 2;
}


.go-back-container {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items:center;
}

.pokemon-list-container:hover {
	transform: translateY(-5px); 
	box-shadow: 0px 0px 30px rgba(73, 73, 73, 0.9);
	background-image:url(/img/pokeball2.png);
	background-color:#2e2e2e;
	background-size: 60%;
	background-repeat: no-repeat; 
	background-position: center;
	position: relative;
	display: flex;
	align-items: center; 	
	justify-content: center;
}

.add-btn {
	background:none;
	border: none;
	cursor: pointer;
	z-index: 1;
	opacity: 0; 
	transition: opacity 0.5s ease-in-out;
	position: relative;
}
.add-btn img, .reserve-btn img {
	width: 40px;
	height: 40px;
}

.pokemon-list-container:hover .add-btn img {
	opacity: 1;
}

.pokemon-list-container:hover .reserve-btn img {
	opacity: 1;
}
.pokemon-list-container:hover .add-btn {
	opacity: 1;
}

.reserve-btn{
	background:none;
	border: none;
	cursor: pointer;
	z-index: 1;
	opacity: 0; 
	transition: opacity 0.5s ease-in-out;
	position: relative;
}

.pokemon-list-container:hover .reserve-btn {
	opacity: 1;
}

.button-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
	top: -0.5em;
    left: 0.5em; 
    right: 0.5em; 
}

@keyframes neonBlink {
    0%, 100% {
        color:#D9D9D9;
        text-shadow: 0 0 5px [Your_Current_Color], 0 0 10px #D9D9D9; /
    }
    50% {
        color: #FF6EC7; 
        text-shadow: 0 0 20px #FF6EC7, 0 0 30px #FF6EC7; 
    }
}

h1 {
    animation: neonBlink 1.5s ease-in-out infinite;
}
