
@media screen and (min-width: 300px) {
	
	.pokemon-list-container {
		height: 350px;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
	}
	.pokemon-container {
		display: flex;
		flex-direction: column;
	}
	.pop-up-window {
		width: auto;
	}
	img {
		width: 150px;
	}
	#poke-list {
		grid-column: 2;
	}	
	.button-container {
		top: -2em;
    }
	
}


@media screen and (min-width: 900px) {
	
	.pokemon-list-container {
		/* height: 290px; */
		height: 350px;

		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
	}
	.pokemon-container {
		display: grid;
		justify-content: center;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 10px;
	}
	.pop-up-window {
		width: auto;
	}
	img {
		margin-top: 1.5em;
		width: 150px;
	}
	#poke-list {
		grid-column: 2;
	}
	.centered-pokemon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.team-container > * {
        flex-direction: row; 
    }
	.reserved-list {
		display: grid;
		justify-content: center;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 10px;
	}
	.button-container {
    	top: -2.7em;
    }

}